#page {
	margin-top: 80px;
}

.i-hate-bootstrap {
	width: 1400px !important;
}

.chart {
	display: block;
  margin: 0 auto;
}

.trending-controls {
  margin: 0 auto;
  text-align: center;
}

.sub-controls {
  margin: 8px auto;
}

.hash-tag-div {
  display: inline-block;
  width: 240px;
}

.range-input {
  text-align: center;
  width: 300px;
}

.hint {
  font-size: 8pt;
  color: #ccc;
}


.ht-controls {
  height: 30px;
}

.ht-check-controls {
  margin-left: 30px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.loading-rotate {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-animation-function: linear;
}